#header {
	padding: 0px 200px;
	text-align: center;
}


#body {
	padding: 0px 200px;
}


h2 {
	text-align: center;
}


#container {
	text-align: center;
	height: 500px;
    width: 500px;
	margin: 0px auto;
	box-shadow: 0px 0px 70px -20px #888888;
}


#pic_container {
	/* background-color: grey; */
	height: 150px;
    width: 200px;
	position: relative;
	margin: 0px auto;
	top: -20px;
	z-index: 1;
}


#pic1 {
	background-color: Lavender;
	height: 150px;
    width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	
	border-radius: 5px;
	box-shadow: 0px 30px 80px -30px #888888;
	
}


#pic2 {
	background-color: LavenderBlush;
	height: 150px;
    width: 200px;
	position: absolute;
	top: 150px;
	left: -300px;
	opacity: 0;
	border-radius: 5px;
	box-shadow: 0px 30px 80px -30px #888888;

}


#pic0 {
	background-color: Beige;
	height: 150px;
    width: 200px;
	position: absolute;
	top: 150px;
	left: 300px;
	opacity: 0;
	border-radius: 5px;
	box-shadow: 0px 30px 80px -30px #888888;
}


#back_card {
	height: 300px;
    width: 250px;
	background-color: #FFFFFF;
	position: relative;
	margin: 0px auto;
	top: -150px;
	border-radius: 5px;
}


#back_card_container {
	height: 300px;
    width: 250px;
	/* background-color: Aqua; */
	margin: 0px auto;
	position: relative;
	
	perspective: 500px;
    perspective-origin: 50% 50%;
	
}


#card_title {
	/*background-color: Aqua;*/
	height: 40px;
    width: 200px;
	top: 190px;
	margin: 0px auto;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	letter-spacing: 1px;
}


@keyframes move_upleft {
    from {
		top: 150px;
		left: 300px;
		opacity: 0;
    }
    to {
		top: 0px;
		left: 0px;
		opacity: 1;
    }
}


@keyframes move_downright {
    from {
		top: 0px;
		left: 0px;
		opacity: 1;
    }
    to {
		top: 150px;
		left: 300px;
        opacity: 0;
    }
}


@keyframes move_upright {
    from {
		top: 150px;
		left: -300px;
        opacity: 0;
    }
    to {
		top: 0px;
		left: 0px;
        opacity: 1;
    }
}


@keyframes move_downleft {
    from {
		top: 0px;
		left: 0px;
        opacity: 1;
    }
    to {
		top: 150px;
		left: -300px;
        opacity: 0;
    }
}


#button_container {
	height: 110px;
    width: 340px;
	/* background-color: LightSlateGrey; */
	margin: 0px auto;
	position: relative;
	/* padding: 20px; */
}


#button_front {
	height: 70px;
    width: 300px;
	top: 20px;
	background-color: white;
	margin: 0px auto;
	position: relative;
	z-index: 2;
	
	margin: 0px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 50px -20px #888888;
}


#button_back {
	height: 70px;
    width: 300px;
	top: -50px;
	/*bottom: 0px;*/
	background-color: #98CCCD;
	margin: 0px auto;
	position: relative;
	z-index: 1;
	margin: 0px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 50px -20px #888888;
}


#button_leftside {
	/*background-color: GreenYellow;*/
	height: 70px;
    width: 90px;
	left: 0px;
	position: absolute;
	
}


#button_rightside {
	/*background-color: GreenYellow;*/
	height: 70px;
    width: 90px;
	right: 0px;
	position: absolute;
	
}


.icon_btn {
	height: 24px;
    width: 24px;
	top: 23px;
	position: absolute;
	
}


#button_text_left {
	position: absolute;
	right: 160px;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	text-align:right;
}


#button_text_right {
	position: absolute;
	left: 160px;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	text-align:left;
}


#button_next_title_left {
	font-size: 80%;
	color: grey;
}


#button_next_title_right {
	font-size: 80%;
	color: grey;
}


#ajax_container {
  padding: 0px 200px;
  text-align: center;
}
